<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.relayloom.android.smoketests" android:versionCode="1" android:versionName="0.1-test">
  <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="36" />
  <application android:label="RelayLoom native smoke tests" android:debuggable="true">
    <provider android:name="org.relayloom.android.smoketests.FixtureDocuments" android:authorities="org.relayloom.android.smoketests.documents" android:permission="android.permission.MANAGE_DOCUMENTS" android:exported="true" android:grantUriPermissions="true">
      <intent-filter><action android:name="android.content.action.DOCUMENTS_PROVIDER" /></intent-filter>
    </provider>
  </application>
  <instrumentation android:name="org.relayloom.android.smoketests.NativeSmoke" android:targetPackage="org.relayloom.android" android:label="Isolated native-core instrumentation" android:functionalTest="true" />
  <instrumentation android:name="org.relayloom.android.smoketests.NativeDocuments" android:targetPackage="org.relayloom.android" android:label="Real SAF document instrumentation" android:functionalTest="true" />
</manifest>
